global
        log /dev/log    local0 notice
        chroot /var/lib/haproxy
        stats socket /run/haproxy/admin.sock user haproxy group haproxy mode 660 level admin expose-fd listeners
        stats timeout 30s
        user haproxy
        group haproxy
        daemon

        # Default SSL material locations
        ca-base /etc/ssl/certs
        crt-base /etc/ssl/private

        # Performance tuning
        maxcompcpuusage 80

        # See: https://ssl-config.mozilla.org/#server=haproxy&version=3.1.7&config=modern&openssl=3.0.15
        # Communication between the end user and HAProxy
        ssl-default-bind-curves x448:x25519
        ssl-default-bind-ciphersuites TLS_CHACHA20_POLY1305_SHA256:TLS_AES_256_GCM_SHA384
        ssl-default-bind-options ssl-min-ver TLSv1.3 no-tls-tickets

        # Communication between HAProxy and backend servers
        ssl-default-server-curves x448:x25519
        ssl-default-bind-ciphersuites TLS_CHACHA20_POLY1305_SHA256:TLS_AES_256_GCM_SHA384
        ssl-default-server-options ssl-min-ver TLSv1.3 no-tls-tickets

defaults
        log     global
        mode    http
        option  httplog
        option  dontlognull
        option  logasap
        compression algo-res gzip
        compression type text/css text/html text/javascript application/javascript text/plain text/xml application/json
        timeout connect 5000
        timeout client  50000
        timeout server  50000
        errorfile 400 /etc/haproxy/errors/400.http
        errorfile 403 /etc/haproxy/errors/403.http
        errorfile 408 /etc/haproxy/errors/408.http
        errorfile 500 /etc/haproxy/errors/500.http
        errorfile 502 /etc/haproxy/errors/502.http
        errorfile 503 /etc/haproxy/errors/503.http
        errorfile 504 /etc/haproxy/errors/504.http
